body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #f3f3f3;
	color: #333333;
}

#main{
	background-color: white;
	border-left-color: #dbdbdb;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #dbdbdb;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-color: #dbdbdb;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 192px;
	width: 576px;
	padding: 50px 15px 50px 15px;
}

a{
	color: #0072bc;
	text-decoration: none;
}

a:hover{
	color: #0072bc;
	text-decoration: underline;
}

em{
	font-style: italic;
}

img{
	max-width: 574px;
	text-align: center;
}

p img{
	text-align: center;
}

blockquote
{
    background: #90d3ff;
    padding: 0px 0px 0px 10px;
    margin-bottom: 12px;
}

blockquote p
{
    background: #f9f9f9;
    padding: 15px 15px 15px 10px;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.45em;
}


#bio{
	font-size: 13px;
	color: #666666;	
	margin-bottom: 50px;
}

#name a{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 18px;
}

.post h1{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	font-size: 20px;
}

.tidbits{
	font-size: 11px;
}

.category{
	text-transform: uppercase;
}

.date{
	text-transform: uppercase;
	font-weight: bold;
}

.post{
	font-size: 13px;
}

.post p{
	margin: 5px 0px 20px 0px;
}

h2{
	font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
}

#writing-list h1{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	font-size: 20px;
}

#listofposts{
	width: 340px;
	position: fixed;
	left: 810px;
	top: 45px;
}

#listofposts a{
	font-size: 11px;
	font-weight: bold;
	color: #767676;
	line-height: 1em;
}

.portfolio-header{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	font-size: 20px;
}

.portfolio h3{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.portfolio h4{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	font-size: 10px;
}

