body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #f3f3f3;
	color: #333333;
}

#main{
	background-color: white;
	border-left-color: #dbdbdb;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #dbdbdb;
	border-right-width: 1px;
	border-right-style: solid;
	margin-left: 192px;
	width: 576px;
	padding: 50px 15px 50px 15px;
}

a{
	color: #0072bc;
}

#bio{
	font-size: 13px;
	color: #666666;	
	margin-bottom: 50px;
}

#name a{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 18px;
}

.post h1{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	font-size: 20px;
}

.category{
	text-transform: uppercase;
}

.category{
	text-transform: uppercase;
	font-weight: bold;
}

