<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />

</head>

<body>
	<div id="main">
	
		<div id="bio">
			<h1><a href="http://www.twitter.com/rypan" id="twitter">@rypan</a></h1>
			<p>My name is Ryan Panchadsaram and I'm at Microsoft where I am responsible for user experience and design for Outlook for Mac 2011.  I think software for business can be beautiful.  I take <a href"http://www.flickr.com/photos/ryanp">photos</a>, <a href="http://www.twitter.com/rypan">tweet</a>, and use <a href="http://rypan.posterous.com">posterous</a> heavily.</p>
			
			<!--<p>My name is Ryan Panchadsaram and I’m currently starting a company.  I was at Microsoft where I was responsible for user experience and design for Outlook for Mac 2011.  I think software for business can be beautiful.  I take <a href"http://www.flickr.com/photos/ryanp">photos</a>, <a href="http://www.twitter.com/rypan">tweet</a>, and use <a href="http://rypan.posterous.com">posterous</a> heavily.</p>-->
		</div>
	
		<div id="content">
			{{ content }}
		</div>
	
	</div>

</body>
</html>