<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />
	
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6771371-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

</head>

<body>
	<div id="main">
	
		<div id="bio">
			<div id="name"><a href="/" id="twitter">@rypan</a></div>
			<p>My name is Ryan Panchadsaram and I’m currently starting a <a href="http://wearetaptheory.com">company</a>.  Previously, I was at Microsoft where I was responsible for user experience and design for <a href="http://www.microsoft.com/mac/outlook">Outlook for Mac 2011</a>.  I think software for business can be beautiful.  I take <a href="http://www.flickr.com/photos/ryanp">photos</a>, <a href="http://www.twitter.com/rypan">tweet</a>, and use <a href="http://rypan.posterous.com">posterous</a> heavily.</p>
		</div>
	
		<div id="content">
			{{ content }}
		</div>
	
	</div>

</body>
</html>